.row
	.col-sm-8
		h2.pull-left.top= title
	.col-sm-4
		.btn-group.pull-right
			button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown") created&nbsp;
				span.caret
			ul.dropdown-menu(role="menu")
				li
					a priority
				li
					a updated
hr
.panel-group(id="accordion")
	each issue in issues
		.panel.panel-default
			.panel-heading(class='status-'+issue.fields.status.name.toLowerCase().replace(' ', '')+" priority-"+issue.fields.priority.name.toLowerCase())
				if issue.fields.priority.name.toLowerCase() == 'blocker'
					.glyphicon.glyphicon-fire
				h4.panel-title
					strong= issue.key + " "
					span.truncate= issue.fields.summary
					a(data-toggle="collapse" ,data-parent="#accordion" href="#collapse-"+issue.id).glyphicon.glyphicon-chevron-down.pull-right
					span.label.label-light.pull-right= issue.fields.issuetype.name.toLowerCase()
			.panel-collapse.collapse(id="collapse-"+issue.id)
				.panel-body
					if issue.fields.description
						h6 Description
						p= issue.fields.description